@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color:  #f4e7dc; */
  color: #6289a2;
  font-family: "Montserrat", "sans-serif";
}

.homepage, .cc-profile, 
.cc-current-collab-list, 
.business-profile, 
.campaign-detail-container, 
.business-curren-campaign-list {
  padding: 30px 5%;
}

button {
  border: none;
  outline: none;
  border-radius: 4px;
  background: #bcced4;
  color: black;
  padding: 10px 20px;
}

button:hover {
  /* cursor: pointer; */
  background: #c40405;
  color:#f4e7dc;
}

/* HEADER ############################################################################################### */

#logo {
  font-family: "Montserrat", "sans-serif";
  font-size: 50px;
  color: #f4e7dc;
}

#logo:hover {

  color: #bcced4;
}

.header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5%;
  background-color: #c40405;
  position: sticky;
  z-index: 999;
  top: 0;
  color: #f4e7dc;
  height: 110px;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-geo-div {
  margin-left: 20px;
  text-align: center;
}

.header-geo-div p {
  color:  #f4e7dc;
}


.nav-bar {
  width: 35vw;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}


.nav-bar p{
  text-align: center;
  font-size:15px;
  color: #f4e7dc;
  text-decoration: none;
}

.nav-bar p:hover {
  color: #bcced4;
}

.login-out-btn {
  border: none;
  outline: none;
  border-radius: 4px;
  background: #f4e7dc;;
  color: #c40405;
  padding: 10px 20px;
}

.login-out-btn:hover {
  background: #bcced4;
  color:#c40405;
}



/* landing page############################################################################################### */
.none-user-HP {
  margin: 0;
  padding: 0;
  font-family: "Poiret One", "sans-serif";
  height:100vh;
  /* background: #000; */
}

.none-user-HP-container {
  width: 100%;;
  height: 100vh;
  overflow: hidden;
}

.none-user-HP-login {
  margin-top: 5px;
  margin-left: 90%;
  color:   #bcced4;
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  text-decoration: underline;
}

.none-user-HP-login:hover {
  transition: 0.5s;
  transform: scale(1.2);
  cursor: pointer;
  text-decoration: none;
  color:  #c40405;
}

.none-user-HP-logo {
  margin-top: 10px;
  text-align: center;
  font-size:3.5em;
  color:  #c40405;
  font-family: "Montserrat", "sans-serif";
}

.none-user-HP-subtitle {
  text-align: center;
  font-size:2em;
  color:  #c40405;
  font-family: "Poiret One", "sans-serif";
}

.none-user-HP-btn-group {
  width: 40vw;
  position: fixed; 
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  z-index: 999;
}

.none-user-HP-btn-group button {
  width: 200px;
  height:50px;
  background: #bcced4;
}

.none-user-HP-btn-group button:hover {
  background: #c40405;
  color:  #f4e7dc;
  transition: 0.5s;
  transform: scale(1.2);
  cursor: pointer;
}

.none-user-HP-column {
  width:25%;
  height: 100%;
  float: left;
  border-right: 2px solid rgba(0,0,0,.5);
  box-sizing: border-box;
  z-index: 1;
}

.none-user-HP-column:last-child {
  border-right: none;
}

.none-user-HP-content {
  position: relative;
  height: 100%;
}

.none-user-HP-h1-box {
  position: absolute;
  top: 28%;
  transform: translateY(-50%);
  width: 100%;
  height: 40%;
  background: rgba(38,54,64,.8);
  margin: 0;
  padding: 0;
  color: rgba(96,91,86,.2);
  border-top: 2px solid rgba(0,0,0,.5);
  border-bottom: 2px solid rgba(0,0,0,.5);
}

.none-user-HP-content h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align:center;
  margin: 0;
  padding: 0;
  color: rgba(255,255,255,.5);
  font-size: 3em;
  font-family: "Poiret One", "sans-serif";

}

.none-user-HP-box {
  position: absolute;
  top: 28%;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding: 40px;
  background: #f4e7dc;
  text-align: center;
  transition: 0.5s;
  opacity: 1;
}


.none-user-HP-box h2 {
  margin: 0;
  padding: 0;
  font-size: 28.5px;
  font-family: "Montserrat", "sans-serif";
}

.none-user-HP-box p {
  font-size: 15px;
  font-family: "Montserrat", "sans-serif";
}

.none-user-HP-bg {
  /* background: url(https://cdn.britannica.com/97/100097-050-7E411D6F/Harbor-Freeway-Los-Angeles.jpg); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.bg1{

  background: url(https://www.visittheusa.com/sites/default/files/styles/hero_l/public/images/hero_media_image/2017-01/Getty_515070156_EDITORIALONLY_LosAngeles_HollywoodBlvd_Web72DPI_0.jpg?itok=lst_2_5d);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}

.bg2 {
  background: url(https://wallpaperaccess.com/full/1175596.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}

.bg3 {
  background: url(https://assets.vogue.com/photos/6063448c304b0bcadd6e383e/master/w_2560%2Cc_limit/TheBritely_0208.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}

.bg4 {
  background: url(https://media.paulsmith.com/media/physical_shops/shop/LA_Melrose_Av_2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  transition: 0.5s;
}

/* CCHP############################################################################################### */
.cchp h1 {
  padding: 30px 5%;
  text-align: center;
  position: relative;
  margin-top: 10%;
}



/* Login############################################################################################### */
.signup-in-login {
  display: flex;
  justify-content: space-between;
}

.signup-in-login-p {
  color: #bcced4;
}


/* profile############################################################################################### */
.info-list {
  padding-top: 10px;
  margin-left: 40px;
  margin-right: 40px;
  text-align: left;
}

.profile-btn {
  display: flex;
  flex-direction: column;
  width: 200px;
  /* position: relative;
  left:100px;
  top:300px; */

}  
.profile-btn button  {
  margin-bottom: 5px;
} 

.profile-img-and-uploads-btn img {
  width: 100%;
}

.profile-img-and-uploads-btn button{
  width: 100%;
}

.img-in-Campaign-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-in-Campaign-card {
  text-align:left;
  margin-left: 2vw;
  width: 100%;
}

/* .buttons-in-Campaign-card {
  position: relative;
  right:10px;
  top:10vh;
} */

.buttons-in-Campaign-card button{
  display: block;
  margin-top: 5px;
  width: 100%;
}

.container-in-collab-review-paper {
  padding: 20px 20px;
}

.upper-in-collab-review-paper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper-right-in-collab-review-paper {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.name-date-in-collab-review-paper {
  text-align: right;
  margin-right: 10px;
}

.review-content {
  margin-top: 10px;
  text-align: left;
}

.footer {
  background-color: #c40405;
}

/* SHARE COMPONENT #######################################################################################*/
.modal-forms {
  padding: 5px, 10px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  
}

.cc-btn-group-btns {
  width:90%;
  margin-bottom: 5px;
}

.related-cc-btn {
  margin-top: 5px;
  padding: 5px 15px;
}

.related-cc-avatar-btn-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.invitation-form-item {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invitation-form-btn {
  margin-top: 5px;
  padding: 6px 20px;
}

.review-card-btn-group {
  display: flex;
  width:14vw;
  justify-content: space-between;
  margin-top: 10px;
}

.review-form-btn-group {
  display: flex;
  width:19vw;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

/* FOOTER #######################################################################################*/

.footer{
  margin-top: 60px;
  background: #c40405;
  height: auto;
  width: 100vw;
  padding-top: 20px;

}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  color: #f4e7dc;
}
.footer-content p{
  max-width: 500px;
  margin: 5px auto;
  line-height: 28px;
  font-size: 14px;
  color: #f4e7dc;
}
.socials{
  width: 10vw;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-bottom: 20px;
}
